$grey-color: #707070;
$primary-color: #8e24aa;
$danger-color: #e53935;
$success-color: #00c853;

/* make the customizations */
$theme-colors: (
    "info": tomato,
    "danger": #e53935,
    "primary": #8e24aa
);